#specialization-component-inputs {

    height: 100%;
    width : 100%;

}

.select-container {

    display       : flex;
    flex-direction: column;
    width         : max-content;
    height        : max-content;
    margin-top    : 3.5%;
    position      : relative;

}

#specialization-select-field {

    margin-right: 22%;

}

#specialization-select-option {

    margin-right: 39%;
}

#terms {

    font-weight: bold;
    color      : #0cc6fe;
    list-style : none;

}

#recent-student {

    width: 70%;

}

#student-category-container {

    display: ruby;
}

#material-button {

    margin-right    : 30%;
    background      : none;
    background-color: rgb(98, 136, 148);
    border-style    : none;
    border-radius   : 7px;
    width           : 70%;
    margin-top      : 10%;

}

#specialization-materials {

    margin-right: 46%;

}

.standard-label-warn-empty-field {

    font-size  : 1vw;
    color      : red;
    font-family: sans-serif;
    font-style : italic;
    margin-top : 2%;
    position   : absolute;
    top        : 100%;
    display    : none;

}