#schedule-container {

    display       : none;
    align-items   : center;
    flex-direction: column;

}

#schedule-components-container {

    height     : 100%;
    width      : 100%;
    align-items: center;

}

#schedule-component-title {

    width     : 57%;
    text-align: center;

}

#modality-container {

    height        : max-content;
    display       : flex;
    flex-direction: column;
    margin-top    : 4%;

}

.modality-option-container {

    width: 135%;

}

.modality-buttons {

    margin-top  : 2%;
    font-size   : 67%;
    width       : 36%;
    max-width   : 85%;
    float       : left;
    margin-right: 12%;

}

#schedules-container {

    margin-top    : 3%;
    display       : flex;
    flex-direction: column;

}

#select-schedule {

    margin-top: 3%;

}

.schedule-wrapper {

    width: 60%;

}

.standard-flex-colum-wrapper {

    display        : flex;
    flex-direction : column;
    width          : 100%;
    justify-content: center;
    align-items    : center;

}