#landing {
    height         : 90vh;
    width          : 100%;
    display        : flex;
    flex-direction: column;
}

#landing-logo-section {
    margin-top     : 4%;
    display        : flex;
    justify-content: center;
    height         : 14%;
    margin-right   : 10%;
}

#landing-title-wrapper {
    position: relative;
}

#landing-title {
    font-size: 1.9em;
    position : absolute;
    bottom   : 0%;
}