#enrollment-container {

    position        : absolute;
    background-color: white;
    height          : 100%;
    width           : 0%;
    right           : 0;
    transition      : 0.44s;
    overflow        : hidden;

}

.enrollment-step {

    height  : 100%;
    width   : 100%;
    color   : black;
    overflow: hidden;

}

.enrollment-component-title {

    height     : max-content;
    width      : max-content;
    margin-top : 10vh;
    font-size  : 200%;
    font-weight: bolder;
    color      : rgb(94, 94, 116);

}

.next-button {

    height          : 2.01rem;
    width           : 15%;
    margin-right    : 5%;
    transition      : 0.21s;
    color           : white;
    border-radius   : 9px;
    border-style    : none;
    background-color: #0cc6fe;
    box-shadow      : 0px 4px 10px rgba(0, 0, 0, 0.73);
    cursor          : pointer;
    font-weight     : bold;

}

.next-button:active {

    background-color: #0da2cf;

}

.user-hint {

    color: rgb(158, 158, 185);

}

.custom-select-input {

    height       : 2.01rem;
    width        : 113%;
    display      : flex;
    margin-top   : 7%;
    border-style : solid;
    border-width : 0.094rem;
    border-radius: 7px;
    border-color : rgb(193, 193, 193);

}

.standard-label {

    font-weight: bold;
    color      : rgb(94, 94, 116);

}

.standard-button {

    height       : 2.01rem;
    width        : 2.9rem;
    margin-right : 5%;
    margin-top   : 5%;
    border-style : solid;
    border-color : rgba(151, 151, 151, 0.73);
    border-width : 0.09rem;
    border-radius: 7px;

}

.standard-flex-wrapper {

    display        : flex;
    justify-content: center;
    align-items    : center;

}

.standard-absolute-wrapper {

    position: absolute;
    height  : max-content;
    width   : 100%;
    top     : 84.7%;

}

.standard-input {

    height       : 2.01rem;
    width        : 99%;
    margin-top   : 3%;
    border-style : solid;
    border-width : 0.094rem;
    border-radius: 7px;
    border-color : rgb(193, 193, 193);

}

.standard-input-small-size {

    width: 97%;

}