.schedule-container {

    display: none;

}

#schedule-container {

    display       : flex;
    align-items   : center;
    flex-direction: column;

}

#schedule-component-title {

    width     : 57%;
    text-align: center;

}

#modality-container {

    display: flex;
    flex-direction: column;

}
.modality-option-container{
    
}